# Ignore environment variables
.env

# Ignore virtual environment 
venv/

# Ignore pandasai output
*.log
exports/

# Ignore database
database/

# Ignore test files
testing.py

# Ignore python cache
__pycache__/
pages/__pycache__/

# Ignore user password file
users.pkl